* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

.gradient {
  height: auto;
  z-index: 1;
  background: linear-gradient(
    rgb(227, 237, 250) 0%,
    rgba(244, 246, 247, 1) 85%
  ); /* Adjust colors as needed */
}
